<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="study.samplemenu2.mapper.MenuMapper">
<resultMap id="resultMap" type="map">
    <result column="dep_cd" property="depCd"/>
    <result column="parent_cd" property="parentCd"/>
    <result column="dept_name" property="deptName"/>
    <result column="level" property="level"/>
    <result column="dept_email" property="deptEmail"/>
</resultMap>

    <select id="findList" resultMap="resultMap">
        SELECT dep_cd,
               parent_cd,
               LPAD(' ', 3*(LEVEL-1)) || DEPT_NAME AS dept_name,
               dept_email,
               level
        FROM dep
        START WITH parent_cd IS NULL
        CONNECT BY PRIOR dep_cd = parent_cd
        ORDER SIBLINGS BY dep_cd
    </select>

</mapper>